body {
  margin: 0;
  background-image: url("img/casino-background-2.jpg");
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100vh;
  opacity: 0.85;
}

#ESports-backgound {
  background-image: url("img/ESports-background.jpg");
  background-repeat: repeat;
}
#Casino-sports-background {
  background-image: url("img/Casino-Sports-background.jpg");
  background-repeat: repeat;
}

/* nav Bar */

.navBar {
  background-image: linear-gradient(black, purple);
  display: block;
  overflow: hidden;
  background-color: #333;
  position: relative;
  width: 100%;
  position: fixed;
}
.content {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 100%;
  margin: 0;
}
.content a {
  text-decoration: none;
}
.fa {
  color: white;
}

.box {
  background-color: black;
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 110px;
  align-items: center;
  border: 1px solid rgba(238, 235, 235, 0.404);
  border-radius: 10px;
  margin: auto;
}

.content {
  display: block;
}
.content ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}
#a-links {
  display: block;
  width: 70%;
  height: 100%;
  padding: 0 0 0 10px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  align-content: center;
}
#logo-img {
  display: block;
  height: 30px;
  width: 30px;
}
/* Hide the links inside the navigation menu (except for logo/home) */
.navBar #myLinks {
  display: none;
  flex-direction: row;
  width: 40%;
}

/* Style the hamburger menu */
.navBar a.icon {
  height: 90%;
  width: 40px;
  display: block;
  position: absolute;
  right: -3%;
  top: 1%;
}

/* Dropdown button */
.dropdown {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid black;
  font-size: 16px;
  border: none;
  outline: none;
  color: inherit;
  background-image: inherit;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
.dropedownbtn {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.418);
  border-radius: 10px;
  width: 90px;
  height: 40px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  display: block;
  background-color: inherit;
  margin: 0 0 5px 0;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  text-align: center;
}
/* #bonus-btn {
  width: 70px;
  height: 40px;
  justify-content: center;
} */
/* Add a purpe background color to navbar links on hover */
.box:hover,
.dropedownbtn:hover,
.dropdown:hover .dropbtn {
  background-color: rgba(212, 6, 240, 0.562);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  margin-left: 100px;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  color: white;
  width: 65%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  border: 1px solid rgba(243, 240, 240, 0.445);
  border-radius: 10px;
  float: none;
  color: white;
  padding: 12px 16px;
  margin: 0 0 5px 0;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

/* Add a purple background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #cb05e6;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: flex;
}
/* end of navbar */
/*  */
/*  */
/*  */
/* page content */
.container {
  box-sizing: border-box;
  display: block;
  width: 100;
  height: 100%;

  border: 1px solid rgba(0, 0, 0, 0);
}
.content::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
  overflow-y: scroll; /* Add the ability to scroll */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.container-content {
  background-image: linear-gradient(270deg, black, purple);
  overflow: auto;
  border: 0 solid black;
  border-radius: 10px;
  margin: 50px auto;
  row-gap: 20px;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  width: 92.1%;
  height: 500px;
  min-width: 300px;
  overflow: auto;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
}

.container-casinos {
  overflow: auto;
  border: 0 solid black;
  margin: 50px auto;
  row-gap: 20px;
  box-sizing: border-box;
  display: flex;

  flex-direction: column;
  width: 92.1%;

  min-width: 300px;
}

.main {
  overflow: hidden;
  border: 1px solid #e5e7eb;
  background-color: rgb(7, 9, 15);
  background-image: linear-gradient(240deg, black, purple);
  box-sizing: border-box;
  width: 100%;
  max-width: 1100px;
  min-width: 250px;
  align-self: center;
  padding: 1.5rem 1.5rem 0 1.5rem;
  display: block;
  border-color: rgb(31, 41, 55);
  border-radius: 16px;
}

.second {
  box-sizing: border-box;
  border: 0px solid (7, 9, 15);
  flex: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
  min-width: 200px;
}

.casino-info {
  box-sizing: border-box;
  border: 0px solid (7, 9, 15);
  width: 100%;
  min-width: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1 1 70%;
  align-content: center;
}

.casino-info a {
  text-decoration: none;
  min-width: 200px;
}
.links-to-roobet-info {
  display: flex;
  /* flex: 1 1 0%; */
  flex-wrap: wrap;
  border: 0px solid black;
  color: rgb(248, 250, 252);
  box-sizing: border-box;
  width: 100%;
  min-width: 200px;
  gap: 0.5rem;
}
.content-box {
  border: 0px solid black;
  align-items: flex-start;
  column-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 0%;
  box-sizing: border-box;
  tab-size: 4;
  font-weight: 900;
  width: 100%;
  min-width: 200px;
}

.Image-box {
  background-color: black;
  border: 0px solid black;
  border-radius: 6px;
  display: block;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
}
.casino-image {
  /* background-color: black; */
  border: 0 solid black;
  border-radius: 6px;
  display: block;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
}

.name-buttons {
  border: 0 solid rgb(7, 9, 15);
  box-sizing: border-box;
  display: block;
  width: 400px;
  min-width: 150px;
  text-size-adjust: 100%;
  width: 70%;
}
.name-holder {
  align-items: center;
  border: 0 solid rgb(30, 41, 59);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 0%;
  line-height: 24px;
  text-size-adjust: 100%;
  color: rgb(248, 250, 252);
  width: 100%;
  min-width: 100px;
}
.casino-name {
  opacity: 2;
  color: rgb(248, 250, 252);
  border: 0 solid rgb(30, 41, 59);
  box-sizing: border-box;
  margin: 0;
  display: block;
  font-size: 30px;
  line-height: 45px;
  text-size-adjust: 100%;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.buttons-casino-info {
  color: rgb(248, 250, 252);
  font-weight: 900;
  border: 0 solid rgb(30, 41, 59);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1 1 0%;
  column-gap: 10px;
  margin: 14px 0 0 0;
  text-size-adjust: 100%;
  width: 100%;
  min-width: 100px;
  row-gap: 10px;
}

.best-rewards:hover {
  background-color: rgb(167, 4, 189);
  transition: background-color 0.5s;
  box-shadow: 3px 3px 10px purple;
}
.best-rewards {
  display: block;
  box-sizing: border-box;
  border: 0 solid rgb(0, 0, 0);
  font-size: 14px;
  word-spacing: 2px;
  text-align: center;
  text-size-adjust: 100%;
  letter-spacing: normal;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-weight: 600;
  width: 250px;
  height: 40px;
  min-width: 100px;
  border-radius: 9999px;
  padding: 10px;
}

.high-withdrawal:hover {
  background-color: rgb(167, 4, 189);
  transition: background-color 0.5s;
  box-shadow: 3px 3px 10px purple;
}
.high-withdrawal {
  display: block;
  box-sizing: border-box;
  color: rgb(248, 250, 252);
  background-color: rgb(0, 0, 0);
  border: 0 solid rgb(0, 0, 0);
  font-size: 14px;
  word-spacing: 2px;
  text-align: center;
  text-size-adjust: 100%;
  font-weight: 600;
  width: 250px;
  min-width: 100px;
  height: 40px;
  border-radius: 9999px;

  padding: 10px;
}

.casino-bonus {
  display: block;
  align-items: flex-start;
  border: 1px solid(7, 9, 15);
  width: 30%;
  min-width: 100px;
  box-sizing: border-box;
  flex-basis: 30%;
}

.bonus-info {
  border: 0 solid black;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
  flex-direction: column;
  text-align: center;
  text-size-adjust: 100%;
  width: 100%;
  min-width: 100px;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
  justify-content: center;
  color: rgb(248, 250, 252);
  font-family: Arial, Helvetica, sans-serif;
}

.info {
  margin: 0;
  border: 0 solid black;
}
.buttons-bonus {
  width: 100%;
}
.buttons-bonus a {
  text-decoration: none;
}
.inactive {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: flex-start;
  width: 90%;
  flex: 1 1 0%;
  min-width: 100px;
  font-weight: 600;
  background-color: rgb(41, 33, 49);
  padding: 10px 5px;
  border-radius: 7px;
  color: white;
  font-size: 20px;
  letter-spacing: 5px;
  margin: 8px;
  border: 0 solid black;
}
.bonus-link {
  border: 0 solid black;
  color: white;
  display: flex;
  flex: 1 1 0%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  align-items: flex-start;
  width: 90%;
  min-width: 100px;
  font-weight: 600;
  padding: 10px 5px;
  background-color: rgb(120, 15, 225);
  border-radius: 7px;
  font-size: 15px;
  margin: 8px;
}
.bonus-link:hover {
  opacity: 0.9;
}

/* mrore info(short info) */
.more-info:hover button {
  text-decoration: underline;
  box-shadow: 1px 1px 5px rgb(197, 11, 182);
}
.more-info button {
  background-color: inherit;
  display: block;
  font-weight: 600;
  line-height: 20px;
  font-size: 14px;
  text-size-adjust: 100%;
  border: 0px solid rgb(186, 3, 241);
  padding: 12px 12px 8px 12px;
  color: rgb(255, 255, 255);
  width: 50%;
}
.more-info {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex: 1 1 0%;
  border-top: 0px solid rgb(186, 3, 241);

  width: 100%;
  min-width: 100px;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 24px;
}

.modal {
  position: fixed;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  transition: 0.4s;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.815);
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.modal.is-active {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}
.modal-content {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: 2px solid rgb(141, 3, 134);
  box-shadow: 1px 1px 10px rgb(203, 2, 243);
  background-image: linear-gradient(black 40%, rgb(99, 2, 99));
  width: 70%;
  height: 50%;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  padding: 10px;
  overflow: scroll;
}
.modal-content::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
  overflow-y: scroll; /* Add the ability to scroll */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.modal-close {
  font-size: 50px;
  border: 0 solid black;
  color: white;
  background-color: inherit;
  position: absolute;
  top: 10px;
  right: 10px;
}

.bottom {
  box-sizing: border-box;
  display: block;
  height: 0;
  width: 100%;
  min-width: 100px;
  margin-top: 24px;
  line-height: 24px;
}
/*  */
/*  */
/*  */
/* MEDIA QUERY */
/* max- media query  phones */

@media only screen and (min-width: 500px) {
  /* new navbar */
  .navBar {
    width: 100%;
  }
  .content {
    width: 90%;
  }
  .box {
    margin: 0 0 0 auto;
  }
  .dropdown-content {
    width: 50%;
  }
  .FOURTH,
  .FIFTH,
  .SIXTH,
  .SEVENTH {
    display: none;
  }
}

/* max mediaQuery content Low-Resolution Tablets and iPad  */
@media (min-width: 800px) {
  /* new navbar */
  .navBar a.icon {
    right: -2%;
  }
  .dropdown-content {
    width: 35%;
  }
  .content {
    width: 90%;
    height: 100%;
  }
  .box {
    width: 150px;
    height: 40px;
    font-size: 20px;
    margin: 0 0 0 auto;
    padding-left: 20px;
  }
  .dropdown a {
    font-size: 20px;
  }
  .dropedownbtn {
    width: 150px;
    font-size: 20px;
    font-weight: 600;
  }
  .dropdown-content {
    margin-left: 160px;

    width: 30%;
  }
  #logo-img {
    height: 35px;
    width: 35px;
  }
  #a-links {
    font-size: 25px;
    width: 100px;
  }
}
/*   */
.FOURTH,
.FIFTH,
.SIXTH,
.SEVENTH {
  display: none;
}
/* max-mediaquwry content Tablets iPads (portrait mode) */
@media (min-width: 1240px) {
  .navBar {
    width: 200px;
    height: 100%;
    overflow: scroll;
  }
  .navBar::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
    overflow-y: scroll; /* Add the ability to scroll */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .content ul {
    flex-direction: column;
    width: 100%;
    height: 60%;
  }
  li .box a {
    width: 70%;
  }
  .box {
    box-sizing: border-box;
    margin: 20px 0 0 5px;
    width: 100%;
    height: 40px;
    padding-left: 2px;
  }
  #a-links {
    font-size: 25px;
  }
  .first {
    margin-top: 100px;
  }

  .navBar a .icon {
    display: block;
  }
  .icon {
    visibility: hidden;
  }

  .FOURTH,
  .FIFTH,
  .SIXTH,
  .SEVENTH {
    display: flex;
  }
  .FOURTH {
    margin-top: 0;
  }
  /* Dropedown bonus full-screen */
  .box-dropdown {
    background-color: inherit;
    border: 1px solid rgba(238, 235, 235, 0.404);
    border-radius: 10px;
    box-sizing: border-box;
    margin: 100px 0 0 5px;
    width: 100%;
    height: 40px;
    padding-left: 2px;
  }
  .dropdown-bonus {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    border: 0 solid black;
    border-radius: 1rgba (182, 178, 178, 0.445);
  }
  .drope-bonus {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: black;
    border: 0 solid black;
    border-radius: 10px;
  }
  .bonus-btn {
    display: block;
    width: 70%;
    height: 100%;
    padding: 0 0 0 10px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    align-content: center;
    font-size: 25px;
    font-family: inherit;
  }
  .dropdown-content-bonus {
    border: 0px solid inherit;
    margin: 40px 20px 0 0;
    padding-top: 10px;
    background-color: aliceblue;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    flex-wrap: wrap;
    position: absolute;
    color: white;
    width: 200px;
    height: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: inherit;
    background-image: inherit;
  }
  #content-bonus {
    background-color: inherit;
    width: 90%;
    height: 30px;
    color: white;
    font-size: 20px;
    border: 1px solid rgba(238, 235, 235, 0.404);
    border-radius: 10px;
    margin: 10px 0;
    padding-top: 6px;
    text-align: center;
  }
  #content-bonus:hover,
  .drope-bonus:hover,
  .box-dropdown:hover {
    background-color: rgba(212, 6, 240, 0.562);
  }
  .box-dropdown:hover .dropdown-content-bonus {
    display: flex;
    transition: 0.01;
  }
  .box-dropdown:hover {
    margin-bottom: 300px;
  }
  .container {
    width: 100%;
    margin: 0 0 0 250px;
  }
  body {
    display: flex;
  }
}
/*  */
/*  */
/*  */

/*  */
/*  */
/*  */
