body {
  margin: 0;
  background-image: url("img/casino-background-2.jpg");
  background-color: rgb(0, 0, 0);
  /* background-size: cover; */
  background-position: start;
  background-repeat: repeat;
  display: flex;
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  width: 100%;
}

#ESports-backgound {
  background-image: url("img/ESports-background.jpg");

  background-repeat: repeat;
}
#Casino-sports-background {
  background-image: url("img/Casino-Sports-background.jpg");

  background-repeat: repeat;
}

/*  */
/*  */
/*  */

/* NAV-BAR */

.navBar {
  opacity: 80%;
  background-image: linear-gradient(black 30%, purple);
  box-sizing: border-box;
  height: 100vh;
  width: 200px;
  margin: 0;
  background-color: black;
  box-shadow: 0 6px 20px rgb(0 0 0 / 0.2);
  display: flex;
  flex-direction: column;
  position: fixed;
}
.container {
  padding: 0;
  box-sizing: border-box;
  margin: 150px 0 0 0px;
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.container a {
  text-decoration: none;
  color: inherit;
}
/* .active {
  background-color: #04aa6d;
  color: white;
} */

.box {
  color: white;
  box-sizing: border-box;
  margin: 10px 5px;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  align-self: center;
  height: 35px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(240, 3, 228);
  border-radius: 10px;
}
.box:hover {
  box-shadow: 5px 9px 20px rgba(240, 3, 228, 0.438);
}
.FIFTH {
  margin-top: 100px;
}

#logo-img {
  display: block;
  height: 30px;
  width: 30px;
}

.info-btn a {
  justify-content: flex-start;
}
/* .info-btn  */
.a-links {
  padding: 0 0 0 5px;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  align-self: flex-end;
  display: flex;
  box-sizing: border-box;
  width: 60%;
  border: 0 solid black;
  background-color: inherit;

  font-size: 24px;
  font-weight: 900;
  text-size-adjust: 100%;
}
/* end of navbar */
/*  */
/*  */
/*  */
/* page content */
.content {
  opacity: 85%;
  align-self: end;
  box-sizing: border-box;
  display: block;
  flex-direction: column;
  flex: 1 1 0%;
  width: 80%;
  height: 100%;
  min-width: 300px;
  margin: 0 0 0 200px;
  overflow: auto;
}
.content::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
  overflow-y: scroll; /* Add the ability to scroll */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.container-content {
  background-image: linear-gradient(270deg, black, purple);
  overflow: auto;
  border: 0 solid black;
  border-radius: 10px;
  margin: 50px auto;
  row-gap: 20px;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  width: 92.1%;
  height: 500px;
  min-width: 300px;
  overflow: auto;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
}

.container-casinos {
  overflow: auto;
  border: 0 solid black;
  margin: 50px auto;
  row-gap: 20px;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  width: 92.1%;

  min-width: 300px;
}

.main {
  overflow: hidden;
  border: 1px solid #e5e7eb;
  background-color: rgb(7, 9, 15);
  background-image: linear-gradient(240deg, black, purple);
  box-sizing: border-box;
  width: 100%;
  max-width: 1100px;
  min-width: 250px;
  align-self: center;
  padding: 1.5rem 1.5rem 0 1.5rem;
  display: block;
  border-color: rgb(31, 41, 55);
  border-radius: 16px;
}

.second {
  box-sizing: border-box;
  border: 0px solid (7, 9, 15);
  flex: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
  min-width: 200px;
}

.casino-info {
  box-sizing: border-box;
  border: 0px solid (7, 9, 15);
  width: 100%;
  min-width: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1 1 70%;
  align-content: center;
}

.casino-info a {
  text-decoration: none;
  min-width: 200px;
}
.links-to-roobet-info {
  display: flex;
  /* flex: 1 1 0%; */
  flex-wrap: wrap;
  border: 0px solid black;
  color: rgb(248, 250, 252);
  box-sizing: border-box;
  width: 100%;
  min-width: 200px;
  gap: 0.5rem;
}
.content-box {
  border: 0px solid black;
  align-items: flex-start;
  column-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 0%;
  box-sizing: border-box;
  tab-size: 4;
  font-weight: 900;
  width: 100%;
  min-width: 200px;
}

.Image-box {
  background-color: black;
  border: 0px solid black;
  border-radius: 6px;
  display: block;
  box-sizing: border-box;
  max-width: 150px;
  min-width: 150px;
}
.casino-image {
  /* background-color: black; */
  border: 0 solid black;
  border-radius: 6px;
  display: block;
  box-sizing: border-box;
  max-width: 150px;
  min-width: 150px;
}

.name-buttons {
  border: 0 solid rgb(7, 9, 15);
  box-sizing: border-box;
  display: block;
  min-width: 200px;
  text-size-adjust: 100%;
  width: 70%;
}
.name-holder {
  align-items: center;
  border: 0 solid rgb(30, 41, 59);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 0%;
  line-height: 24px;
  text-size-adjust: 100%;
  color: rgb(248, 250, 252);
  width: 100%;
  min-width: 200px;
}
.casino-name {
  opacity: 2;
  color: rgb(248, 250, 252);
  border: 0 solid rgb(30, 41, 59);
  box-sizing: border-box;
  margin: 0;
  display: block;
  font-size: 30px;
  line-height: 45px;
  text-size-adjust: 100%;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.buttons-casino-info {
  color: rgb(248, 250, 252);
  font-weight: 900;
  border: 0 solid rgb(30, 41, 59);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1 1 0%;
  column-gap: 10px;
  margin: 14px 0 0 0;
  text-size-adjust: 100%;
  width: 100%;
  min-width: 200px;
  row-gap: 10px;
}

.best-rewards:hover {
  background-color: rgb(167, 4, 189);
  transition: background-color 0.5s;
  box-shadow: 3px 3px 10px purple;
}
.best-rewards {
  display: block;
  box-sizing: border-box;
  border: 0 solid rgb(0, 0, 0);
  font-size: 14px;
  word-spacing: 2px;
  text-align: center;
  text-size-adjust: 100%;
  letter-spacing: normal;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-weight: 600;
  width: 30%;
  min-width: 200px;
  border-radius: 9999px;
  padding: 10px;
}

.high-withdrawal:hover {
  background-color: rgb(167, 4, 189);
  transition: background-color 0.5s;
  box-shadow: 3px 3px 10px purple;
}
.high-withdrawal {
  display: block;
  box-sizing: border-box;
  color: rgb(248, 250, 252);
  background-color: rgb(0, 0, 0);
  border: 0 solid rgb(0, 0, 0);
  font-size: 14px;
  word-spacing: 2px;
  text-align: center;
  text-size-adjust: 100%;
  font-weight: 600;
  width: 35%;
  border-radius: 9999px;
  min-width: 200px;
  padding: 10px;
}

.casino-bonus {
  display: block;
  align-items: flex-start;
  border: 1px solid(7, 9, 15);
  width: 30%;
  min-width: 200px;
  box-sizing: border-box;
  flex-basis: 30%;
}

.bonus-info {
  border: 0 solid black;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
  flex-direction: column;
  text-align: center;
  text-size-adjust: 100%;
  width: 100%;
  min-width: 200px;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
  justify-content: center;
  color: rgb(248, 250, 252);
  font-family: Arial, Helvetica, sans-serif;
}

.info {
  margin: 0;
  border: 0 solid black;
}
.buttons-bonus {
  width: 100%;
}
.buttons-bonus a {
  text-decoration: none;
}
.inactive {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: flex-start;
  width: 90%;
  flex: 1 1 0%;
  min-width: 200px;
  font-weight: 600;
  background-color: rgb(41, 33, 49);
  padding: 10px 5px;
  border-radius: 7px;
  color: white;
  font-size: 20px;
  letter-spacing: 5px;
  margin: 8px;
  border: 0 solid black;
}
.bonus-link {
  border: 0 solid black;
  color: white;
  display: flex;
  flex: 1 1 0%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  align-items: flex-start;
  width: 90%;
  min-width: 200px;
  font-weight: 600;
  padding: 10px 5px;
  background-color: rgb(120, 15, 225);
  border-radius: 7px;
  font-size: 15px;
  margin: 8px;
}
.bonus-link:hover {
  opacity: 0.9;
}

/* mrore info(short info) */
.more-info:hover button {
  text-decoration: underline;
  box-shadow: 1px 1px 5px rgb(197, 11, 182);
}
.more-info button {
  background-color: inherit;
  display: block;
  font-weight: 600;
  line-height: 20px;
  font-size: 14px;
  text-size-adjust: 100%;
  border: 0px solid rgb(186, 3, 241);
  padding: 12px 12px 8px 12px;
  color: rgb(255, 255, 255);
  width: 50%;
}
.more-info {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex: 1 1 0%;
  border-top: 0px solid rgb(186, 3, 241);

  width: 100%;
  min-width: 150px;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 24px;
}

.modal {
  position: fixed;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  transition: 0.4s;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.815);
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.modal.is-active {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}
.modal-content {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: 2px solid rgb(141, 3, 134);
  box-shadow: 1px 1px 10px rgb(203, 2, 243);
  background-image: linear-gradient(black 40%, rgb(99, 2, 99));
  width: 70%;
  height: 50%;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  padding: 10px;
  overflow: scroll;
}
.modal-content::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
  overflow-y: scroll; /* Add the ability to scroll */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.modal-close {
  font-size: 50px;
  border: 0 solid black;
  color: white;
  background-color: inherit;
  position: absolute;
  top: 10px;
  right: 10px;
}

.bottom {
  box-sizing: border-box;
  display: block;
  height: 0;
  width: 100%;
  min-width: 200px;
  margin-top: 24px;
  line-height: 24px;
}
/*  */
/*  */
/*  */
/* MEDIA QUERY */
/*  */
/*  */
/* max-mediaquwry content Desktop */
@media (min-width: 1241px) {
  #fourth {
    display: none;
  }
  .content-box {
    flex-wrap: wrap;
  }
  .buttons-casino-info {
    flex-wrap: nowrap;
  }
}
/*  


*/
/* max-mediaquwry content Tablets iPads (portrait mode) */
@media (max-width: 1240px) {
  /* content */
  .content {
    height: 100%;

    position: absolute;
  }
  .content-box {
    flex-wrap: wrap;
  }

  .second {
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    align-content: flex-start;
  }

  .info-btn a {
    align-self: center;
  }

  /* NAV BAR */
  .navBar {
    height: 100vh;
    position: absolute;
    overflow: scroll;
  }
  .navBar::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
    overflow-y: scroll; /* Add the ability to scroll */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .container {
    height: 100%;
    position: absolute;
    row-gap: 5px;
    margin-top: 0;
    overflow: visible;
    align-self: center;
  }
  /* .FIFTH {
    margin: 10px 5px;
  } */
  #fourth {
    display: none;
  }
  .box {
    height: 50px;
    margin: 20px 5px 5px 5px;
  }
  .box .info-btn {
    height: 50px;
  }
}
/*  */
/*  */
/*  */
/* max mediaQuery content Low-Resolution Tablets and iPad  */
@media (max-width: 800px) {
  /* navar */
  body {
    background-repeat: repeat;
    background-position: center;
    flex-direction: column;
    background-size: contain;
  }

  .navBar {
    position: fixed;
    display: block;
    margin: 0;
    box-sizing: border-box;
    height: 125px;
    width: 100vw;
    position: fixed;
    align-self: start;
    position: relative;
    overflow: visible;
    border-bottom: 2px solid purple;
  }
  .box {
    display: flex;
    height: 30px;
    width: 140px;
    margin: 40px auto 0 auto;
    justify-content: center;
    align-content: center;
  }
  .container {
    border: 0 solid black;
    margin: 0;
    width: 100%;
    height: 120px;
    overflow: visible;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .FIFTH,
  .SIXTH,
  .SEVENTH,
  .EIGHTH {
    display: none;
  }
  #fourth:hover {
    box-shadow: 0 0 0 black;
  }
  #fourth {
    box-sizing: border-box;
    margin: 0 auto;
    border: 0px solid rgb(243, 1, 1);
    display: block;
    width: 100%;
    height: 60px;
    padding-bottom: 10px;
  }
  .burger-menu-icon {
    display: block;
    position: absolute;
    right: 2%;
    top: 7%;
  }

  #myLinks {
    box-sizing: border-box;
    background-image: inherit;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    /* border-bottom: 1px solid rgb(241, 4, 241);
    box-shadow: 2px 2px 10px rgba(241, 4, 241, 0.466); */
    display: none;
    justify-content: center;
    align-items: center;
  }
  .myLinks-a {
    border: 1px solid rgba(207, 205, 205, 0.664);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 2px 0 0 35px;
    background-color: #000000;
    margin: 0 auto;
    width: 120px;
    height: 30px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    display: block;
  }
  .myLinks-a:hover {
    background-color: rgba(255, 253, 255, 0.623);
    color: #000000;
  }

  .content {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 2px;
  }
  .content::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
    overflow-y: scroll; /* Add the ability to scroll */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .container-content {
    width: 720px;
    margin: 0 5px 50px 5px;
  }
  .container-casinos {
    margin: 0 auto;
    width: 720px;
  }
}
.content-box {
  flex-wrap: nowrap;
}
.second {
  justify-content: center;
}

/*  */
/*  */
/*  */
/* max- media query  phones */

@media (max-width: 550px) {
  /* navar */
  .navBar {
    margin: 0;
    flex-direction: row;
    box-sizing: border-box;
    height: 120px;
    width: 100%;
    position: fixed;
    align-self: start;
    position: fixed;
  }
  .container {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    align-content: start;
    align-self: start;
  }
  .box {
    margin: 40px auto 0 auto;
    height: 30px;
    width: 110px;
    /* justify-content: center;
    align-content: center;
    align-items: center; */
  }
  .FIFTH,
  .SIXTH,
  .SEVENTH,
  .EIGHTH {
    display: none;
  }

  .logo-img {
    width: 30px;
    height: 30px;
  }
  .a-links {
    font-size: 17px;
    padding-bottom: 5px;
  }

  #fourth {
    box-sizing: border-box;
    border: 0px solid rgb(241, 4, 241);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 20px;
    width: 160px;
    height: 60px;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;
  }

  #fourth:hover {
    box-shadow: 0 0 0 black;
  }
  #fourth {
    background-color: inherit;
    margin: 0;
    border: 0px solid rgb(243, 1, 1);
    display: block;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
  }
  .burger-menu-icon {
    display: block;
    position: absolute;
    right: 3%;
    top: 7%;
  }

  #myLinks {
    box-sizing: border-box;
    background-color: inherit;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    display: none;
    justify-content: center;
    align-items: center;
  }
  .myLinks-a {
    background-color: #000000;
    border: 1px solid rgba(207, 205, 205, 0.664);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px 0 0 0;
    text-align: center;

    margin: 0 auto;
    width: 80px;
    height: 30px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    display: block;
  }
  .myLinks-a:hover {
    background-color: rgba(255, 253, 255, 0.623);
    color: #000000;
  }

  /* content */
  body {
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
  }
  .content {
    margin: 122px auto 0 auto;
  }

  .container-content {
    width: 380px;

    margin: 20px auto;
  }
  .container-casinos {
    margin: 0 auto;
    width: 380px;
  }

  .second,
  .content-box,
  .name-holder,
  .buttons-casino-info {
    justify-content: center;
  }
  .content-box {
    flex-wrap: wrap;
  }
  .modal-content {
    height: 50%;
    width: 90%;
  }
}
