body {
  margin: 0;
  background-image: url("/img/HomeScreen.webp");
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  height: 100vh;
  opacity: 0.95;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 5px;
  color: #ffffff;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
}

/* hamburger menu x animation */
.nav-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 22px;
  width: 22px;
}

.nav-toggle .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  transition: all 100ms ease-in-out;
}

.nav-toggle:hover {
  cursor: pointer;
}

.x:nth-of-type(1) {
  transition: all 100ms ease-in-out;
  transform: rotate(45deg);
  transform-origin: top left;
  width: 28px;
}

.x:nth-of-type(2) {
  transition: all 100ms ease-in-out;
  transform-origin: center;
  width: 0;
}

.x:nth-of-type(3) {
  transition: all 100ms ease-in-out;
  transform: rotate(-45deg);
  transform-origin: bottom left;
  width: 28px;
}

/* nav Bar */

.navBar {
  font-family: inherit;
  background-image: linear-gradient(black, purple);
  display: block;
  overflow: hidden;
  background-color: #333;
  position: relative;
  width: 100%;
  position: fixed;
}

.content a {
  text-decoration: none;
}
.fa {
  color: white;
}
.all4wins {
  width: 100%;
  height: auto;
}
.all4wins img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.box {
  justify-content: center;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 110px;
}

.content {
  display: block;
}
.content ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 5px 0;
  width: 100%;
}
#a-links {
  display: block;
  width: 70%;
  height: 100%;
  padding: 0 0 0 10px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  align-content: center;
}
#logo-img {
  display: block;
  height: 30px;
  width: 30px;
}
/* Hide the links inside the navigation menu (except for logo/home) */
.navBar #myLinks {
  display: none;
  flex-direction: row;
  width: 40%;
}

/* Style the hamburger menu */
.navBar .icon {
  display: block;
  box-sizing: border-box;
  width: 50px;
  display: block;
  position: absolute;
  right: -3%;
  top: 20%;
}

/* Dropdown button */
.dropdown {
  box-sizing: border-box;
  font-family: inherit;
  text-decoration: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 99%;
  border: 1px solid black;
  font-size: 16px;
  border: none;
  outline: none;
  color: inherit;
  background-image: inherit;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
#myLinks a {
  text-decoration: none;
}
#myLinks {
  width: 500px;
  height: auto;
}
.dropedownbtn {
  display: flex;
  flex-direction: row;
  border: 0 solid black;
  box-sizing: border-box;
  width: 190px;

  color: white;
  text-decoration: none;
  justify-content: flex-start;
  font-weight: 600;
  font-family: inherit;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  background-color: inherit;
  margin: 10px 0 10px 20px;
  padding: 0;
}
.box-menu-drop {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 20px;
  width: 110px;
}
.contact-us {
  display: flex;
  margin: 10px 0;
  box-sizing: border-box;
  height: fit-content;
  width: 99%;
  justify-content: center;
}
.contact-us p {
  margin: 2px 5px;
}

.box:hover,
.dropdown:hover .dropbtn {
  background-color: rgba(212, 6, 240, 0.562);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  margin: 0 0 0 100px;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  color: white;
  width: 65%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  background-image: inherit;
  border: 0 solid black;
  border-radius: 10px;
  float: none;
  color: white;
  padding: 12px 16px;
  margin: 0 0 5px 0;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 15px;
  font-family: inherit;
  font-weight: 600;
}

/* Add a purple background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #cb05e6;
}

/* Show the dropdown menu on hover */
.dropdown .dropedownbtn:hover .dropdown-content {
  display: flex;
}

/* end of navbar */
/*  */
/*  */
/*  */
/*  */
/* page content */

/* review page */
.missionU {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  height: fit-content;
}

.casino-allInfo {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: inherit;
  margin-left: 200px;
}
.overview-summary {
  width: 100%;
  height: auto;
  text-align: start;
}
.overview-summary h1 {
  text-align: center;
}
.casino-banner {
  box-sizing: border-box;
  width: 100%;
  height: auto;
}
.casino-banner img {
  width: 100%;
  height: fit-content;
}

.casino-infoLogo {
  display: flex;
  box-sizing: border-box;
  width: fit-content;
  height: auto;
  margin: 10px 0 10px 0;
}
.logo-box {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
  margin-left: 50px;
}
.logo-box img {
  width: 100px;
  height: 100px;
}
.play-now {
  width: fit-content;
  box-sizing: border-box;
  height: auto;
  margin: 10px 0 30px 0;
}
.play-now button {
  cursor: pointer;
}
.play-now button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 30px;
  font-family: inherit;
  font-weight: 600;
  margin-left: 50px;
  background-color: gold;
}

.tab-info {
  background-color: #00000070;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  overflow: hidden;

  border-bottom: 2px solid purple;
}

/* Style the buttons that are used to open the tab content */
.tab-info button {
  text-decoration: none;
  box-sizing: border-box;
  background-color: inherit;
  float: left;
  border: none;
  border-radius: 10px;
  margin-left: 50px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  height: fit-content;
  width: 120px;
  transition: 0.3s;
  color: white;
  /* background-color: purple; */
  background-color: rgba(0, 0, 0, 0);
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 2px 2px 10px black;
}

/* Change background color of buttons on hover */
.tab-info button:hover {
  background-image: linear-gradient(black, purple);
}

/* Create an active/current tablink class */
.tab-info button.active {
  background-image: linear-gradient(black, purple);
}

/* Style the tab content */
.tabcontent-info {
  display: none;
  background-image: linear-gradient(black, purple);
  width: auto;
  height: auto;
  padding: 10px 10px 10px 20px;
  border: 1px solid #cccccc27;
  border-top: none;
  margin: 0 5px;
  justify-content: center;
  animation: fadeEffect 1s;
  border-radius: 10px;
  text-align: start;
  list-style: inside;
}
.tabcontent-info h1 {
  text-align: center;
}
.tabcontent-info ul li {
  margin: 15px 0;
}

.tabcontent-info a,
h1 {
  text-decoration: none;
  color: gold;
  font-weight: 800;
}
.tabcontent-info h2,
strong {
  color: gold;
}
.overview-button-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 0 solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: inherit;
}
.overview-button {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: auto;
  height: fit-content;
  border: 1px solid rgba(15, 15, 15, 0.39);
  background-color: #000000;
  border-radius: 10px;
  margin: 0 0 10px 10px;
  text-align: center;
  padding: 5px;
}
.overview-button p {
  margin: 10px 0 5px 0;
  font-size: 20px;
  font-weight: 600;
}
.cardTipe-container {
  box-sizing: content-box;
  width: 100%;
  margin: 0;
}
.card-tipe {
  margin-left: 20px;
  width: 48px;
  height: 48px;
}
.card-tipe-info {
  width: 48px;
  height: 48px;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* tab bonus section from review page */

.tab-button-bonus {
  padding: 10px 20px;
  cursor: pointer;
  background-color: inherit;
  color: white;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  border: 0 solid black;
  margin-right: 5px;
}
.short-info {
  box-sizing: border-box;
  width: 350px;
  margin-right: 10px;
}
.short-info ul {
  padding-left: 15px;
  font-size: 20px;
  font-weight: 900;
  margin-top: 0;
  text-align: start;
}
.short-info ul li {
  margin: 0 0 10px 0;
}
.casino-bonus {
  box-sizing: border-box;
  width: 300px;
}

.casino-bonus p {
  margin: 0 0 10px 0;
  text-align: center;
  font-weight: 900;
}
.buttons-toWebsite {
  box-sizing: border-box;

  width: 300px;
  display: flex;
  flex-direction: column;
}
#play-Bet-now {
  background-color: gold;
  height: 40px;
}
.buttons-toWebsite div {
  box-sizing: border-box;
  padding: 5px 5px;
  text-shadow: none;
  text-align: center;
  background-color: white;
  width: 200px;
  height: fit-content;
  margin: 0 auto 10px auto;
  border-radius: 10px;
}

.buttons-toWebsite a,
.buttons-toWebsite p {
  text-decoration: none;
  color: #000000;
  margin: 0;
  font-size: 20px;
  font-weight: 900;
}

.tab-button-bonus.active {
  border-bottom: 1px solid purple;
  color: gold;
}

/* Content areas for each tab */
.tab-content-bonus {
  box-sizing: border-box;
  width: 100%;
  display: none;

  border: 0px solid #ccc;
  margin-top: 20px;
  flex-direction: row;
  flex-wrap: wrap;
}

.tab-content-bonus.active {
  display: flex;
  border-bottom: 1px solid purple;
}

/*  */
.casino-review {
  margin: px;
  width: 98%;
  margin: 50px auto;
  height: 100px;
  box-sizing: border-box;
}

/* 
  /* end of page */
.bottom-page {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(black, purple);
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
.gambleAware,
.copyright {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  font-family: inherit;
  font-size: 20px;
}

.bottom-page img {
  height: 48px;
  width: 48px;
  margin: auto 50px;
}
.bottom-page p {
  margin: 20px 0 20px 4px;
}
.bottom-page p a {
  text-decoration: none;
  color: white;
}
.bottom-page p a span {
  color: orange;
}

/* MEDIA QUERY */
/* max- media query  phones */
@media (max-height: 1000px) {
  .all4wins,
  .all4wins img {
    width: 110px;
    height: 110px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 5px) {
  /* burger menu */
  .nav-toggle {
    margin: 5px 10px 0 auto;
  }
  /* new navbar */

  .all4wins {
    display: none;
  }
  .box {
    width: 110px;
    margin-left: 10px;
  }

  #logo-img {
    height: 25px;
    width: 25px;
  }
  #a-links {
    width: auto;
    padding-left: 3px;
    font-size: 18px;
  }
  #myLinks {
    display: block;
    height: 96vh;
    width: 100%;
    margin-top: 20px;
  }
  .dropdown-content {
    width: 30%;
    height: fit-content;
    border-radius: 10px;
  }
  .home,
  .first,
  .SECOND,
  .THIRD,
  .news-home,
  .bonus-home,
  .FOURTH,
  .FIFTH,
  .SIXTH,
  .SEVENTH {
    display: none;
  }

  .contact-us-desktop {
    display: none;
  }

  /* content main paiges */

  body {
    background-size: contain;
  }

  /* CAsino info page */
  .missionU img {
    display: block;
    border: 1px solid rgba(228, 225, 225, 0.507);
    border-radius: 10px;
    width: 350px;
    height: auto;
  }
  .casino-allInfo {
    padding: 50px 0 0 0;
    margin-left: 0;
    box-sizing: border-box;
    width: 100%;
  }
  .casino-banner {
    width: 100%;
  }

  .logo-box {
    margin: 20px;
  }
  .play-now {
    display: flex;
    margin: 20px;
  }
  .play-now a button {
    margin-left: 0;
  }
  .tabcontent-info {
    box-sizing: border-box;
    width: 95%;
    margin: 0 auto;
  }
  .tab-info button {
    margin: 10px 0 5px 5px;
    width: 100px;
    height: fit-content;

    font-size: 13px;
  }
  .overview-button {
    width: 100%;
    height: auto;
    margin: 0 0 10px 0;
  }
  .overview-button p {
    font-size: 15px;
  }
  .tipe4 {
    width: 36px;
    height: 320px;
  }
  .card-tipe-info,
  .card-tipe {
    width: 38px;
    height: 38px;
  }
  #overwiew {
    padding: 10px;
  }
  /* tab bonus section */
  .tab-content-bonus {
    justify-content: start;
  }
  #tab-buttons {
    text-align: start;
  }
  .tab-button-bonus {
    font-size: 13px;
  }

  .short-info,
  .casino-bonus,
  .buttons-toWebsite {
    margin: 0 10px 20px 0;
    padding: 0;
  }
  .short-info ul {
    font-size: 15px;
    padding: 0;
  }
  .casino-bonus {
    text-align: start;
    width: 100%;
  }
  .casino-bonus p {
    font-size: 24px;
    text-align: start;
  }
  .casino-bonus-title {
    color: gold;
  }
  .buttons-toWebsite {
    width: 100%;
    justify-content: start;
  }

  .buttons-toWebsite div {
    font-size: 20px;
    margin: 10px 0;
  }

  /* botom page */
  .gambleAware {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 15px;
  }
  .gambleAware p {
    text-align: center;
    width: 100%;
  }
  .bottom-page {
    margin-top: 20px;
  }
  .copyright {
    font-size: 15px;
    justify-content: center;
  }
}

/* max mediaQuery content Low-Resolution Tablets and iPad  */
@media (min-width: 550px) {
  /* new navbar */

  .dropdown-content {
    margin-left: 140px;
  }
  .content {
    width: 100%;
    height: 100%;
  }

  .box {
    width: 150px;
    height: 40px;
    font-size: 20px;

    margin-left: 20px;
  }
  .button-casino,
  .button-ESports,
  .button-Sports {
    display: flex;
  }

  .dropdown a {
    font-size: 20px;
  }

  .box-menu-drop {
    margin-top: 20px;
  }

  #logo-img {
    height: 35px;
    width: 35px;
  }
  #a-links {
    padding-left: 5px;
    font-size: 25px;
    width: 100px;
  }

  /* content */

  /* Casino info page */
  .casino-allInfo {
    padding: 50px 0 0 0;
    margin: 0;
  }
  .casino-infoLogo,
  .play-now {
    justify-content: start;
  }
  .logo-box,
  .logo-box img {
    width: 150px;
    height: 150px;
  }

  .play-now,
  .logo-box {
    margin-left: 50px;
  }

  .tab-info button {
    margin-left: 50px;
    height: fit-content;
    width: 120px;
    font-size: 20px;
    font-weight: 600;
  }
  .tabcontent-info {
    font-size: 20px;
    padding: 10px 30px;
  }
  .overview-button {
    width: 180px;
    margin: 0 0 5px 5px;
  }
  #card-tipe-container {
    width: 250px;
  }
  .tipe4 {
    width: 46px;
    height: 30px;
  }
  .card-tipe-info,
  .card-tipe {
    width: 48px;
    height: 48px;
  }

  .overview-button p {
    font-size: 18px;
    margin-bottom: 0;
  }
  /* end of page */
  .gambleAware {
    flex-direction: row;
  }
  .bottom-page {
    justify-content: center;
    margin-top: 45%;
  }
  .missionU img {
    width: 70%;
  }
  /* tab bonus section */
  .tab-button-bonus {
    font-size: 20px;
  }
  #tab-buttons,
  .tab-content-bonus {
    text-align: start;
    justify-content: start;
  }
  .short-info {
    width: 290px;
  }
  .casino-bonus {
    width: 300px;
  }
  .buttons-toWebsite {
    width: 200px;
  }
  .buttons-toWebsite div {
    margin-top: 0;
  }
  .short-info ul {
    font-size: 20px;
  }
}
/*   */

/* max-mediaquwry content Tablets iPads (portrait mode) */
@media (min-width: 1200px) {
  .navBar {
    width: 200px;
    height: 100%;
    overflow: scroll;
  }
  .navBar::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
    overflow-y: scroll; /* Add the ability to scroll */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .name-content {
    display: none;
  }
  content {
    width: 100%;
    height: 50%;
  }
  .all4wins {
    display: flex;
  }
  .content ul {
    flex-direction: column;
    width: 100%;
    height: 77%;
  }
  li .box a {
    width: 70%;
  }
  .box {
    box-sizing: border-box;
    margin: 20px 0 0 5px;
    width: 170px;
    height: 40px;
    padding-left: 2px;
    justify-content: flex-start;
  }
  #a-links {
    font-size: 30px;
  }

  .nav-toggle {
    display: none;
  }

  .home2 {
    display: none;
  }
  .home,
  .first,
  .SECOND,
  .THIRD,
  .button-casino,
  .button-ESports,
  .button-Sports,
  .FOURTH,
  .FIFTH,
  .SIXTH,
  .SEVENTH {
    display: flex;
  }

  .bonusThird {
    margin-bottom: 50px;
  }
  /* Dropedown bonus full-screen */
  .box-dropdown {
    border: 0px solid rgba(238, 235, 235, 0.404);
    border-radius: 10px;
    box-sizing: border-box;
    margin: 40px 0 0 0;
    width: 100%;
    height: 40px;
    padding: 0;
  }
  .dropdown-bonus {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0 solid black;
    border-radius: 1rgba (182, 178, 178, 0.445);
    font-family: inherit;
  }
  .drope-bonus {
    box-sizing: border-box;
    width: 170px;
    height: 100%;
    display: flex;
    background-color: inherit;
    border: 0 solid black;
    border-radius: 10px;
    font-family: inherit;
    justify-content: flex-start;
    margin-left: 7px;
    padding: 0;
  }
  .bonus-btn {
    display: block;
    width: 60%;
    height: 100%;
    padding-left: 5px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    text-align: start;
    font-size: 30px;
    font-family: inherit;
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
  }

  .dropdown-content-bonus {
    border: 0px solid inherit;
    margin-top: 35px;
    padding-top: 10px;
    background-color: aliceblue;
    display: none;
    flex-direction: column;
    position: absolute;
    color: white;
    width: 100%;
    height: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: inherit;
    background-image: inherit;
    align-items: center;
  }
  #content-bonus {
    background-color: inherit;
    width: fit-content;
    height: 30px;
    color: white;
    text-shadow: inherit;
    font-size: 20px;
    border-radius: 10px;
    margin: 10px 0;
    padding: 6px;
    text-align: center;
  }
  #content-bonus:hover,
  .drope-bonus:hover {
    background-color: rgba(212, 6, 240, 0.562);
  }
  .box-dropdown:hover .dropdown-content-bonus {
    display: flex;
    transition: 0.1s;
  }
  .box-dropdown:hover {
    margin-bottom: 250px;
  }
  .container {
    width: 100%;
    height: 100%;
    margin: 0 0 0 205px;
  }
  body {
    display: flex;
    background-size: cover;
  }

  .contact-us-desktop {
    width: 100%;
    height: auto;
    display: block;

    text-align: center;
  }
  .contact-us-desktop p {
    margin: 5px 5px;
  }

  .name-content {
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
    max-width: 1200px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 30px;
  }
  .name-content img {
    height: 400px;
    width: 400px;
  }
  .bonus-info {
    margin-top: 10px;
  }

  /* Casino info page */
  .casino-allInfo {
    margin: 0 0 0 200px;
    padding: 0;
  }
  .overview-button {
    height: fit-content;
  }

  /* main info page of casino */
  #Overview,
  #Bonuses,
  #Games,
  #Payments {
    font-size: 25px;
  }
  /* tabs bonus section */
  #tab-buttons,
  .tab-content-bonus {
    text-align: center;
    justify-content: center;
  }
  .casino-bonus {
    width: 400px;
  }
}

/*  */

/*  */
/*  */
/*  */
